<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="Redis" connectionString="data source=127.0.0.1:6379;initial catalog=0"/>
      <add name="RedisConfigurationString" connectionString="127.0.0.1:6379,allowAdmin=true"/>
      
      <!--<add name="RedisConfigurationString" connectionString="172.28.34.57:7000,172.28.34.57:7001,172.28.34.57:7002,keepAlive=180,version=2.8.8,allowAdmin=true,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING="/>-->

  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
